<%= form_with model: @user do |f| %>
  <div>
    <% @user.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
  <%= f.label :username %>
  <%= f.text_field :username, required: true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
