<div class="father" data-controller='authenticate'>
  <div class="container" data-authenticate-target='container'>

    <div class="form-container sign-up">
      <%= form_with model: @user do |f| %>
        <h2 class='form-title'>Create Account</h2>
        <div>
          <% @user.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>

        <%= f.email_field :email, placeholder: 'Email', required: true %>

        <%= f.text_field :username, placeholder:'Username', required: true %>

        <%= f.password_field :password, placeholder: 'Password', required: true %>

        <%= f.text_field :number, placeholder: 'Phone Number', required: true %>

        <%= f.file_field :photo, class: 'fileinput' %>

        <button type='submit'>Sign Up</button>
      <% end %>
    </div>

    <div class="form-container sign-in">
      <%= form_with(url: sessions_path) do |f| %>
        <img src="assets/logo2" alt="logo" class='w-[60px] h-[60px]'>
        <h2 class='form-title'>Log In</h2>
        <%= f.text_field :login, placeholder: 'Email or Username', required: true %>

        <%= f.password_field :password, placeholder: 'Password', required: true %>

        <button type='submit'>Log In</button>
      <% end %>
    </div>

    <div class="toggle-container">
      <div class="toggle orange-gradient">
        <div class="toggle-panel toggle-left">
          <h2>Welcome Back</h2>
          <p>Enter your credentials</p>
          <button class="hiddened" data-action='click->authenticate#login'>Log In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h2>Hello there!</h2>
          <p>Fill your info to create an account</p>
          <button class="hiddened" data-action='click->authenticate#signup'>Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
