<%= link_to products_path do %>
  <h1>YouSell</h1>
<% end %>
<%= link_to 'Add product', new_product_path if Current.user.present? %>
<%= link_to 'Categories', categories_path if Current.user&.admin? %>
<%= link_to 'Favorites', favorites_path if Current.user.present? %>
<%= link_to 'Log In', new_session_path unless Current.user.present? %>
<%= link_to 'Sign up', new_user_path unless Current.user.present? %>
<%= link_to 'Log Out', session_path(Current.user.id), data: { turbo_method: :delete, turbo_confirm: 'Log out?' } if Current.user.present? %>
