<%= form_with model: @product do |f| %>
  <div>
    <% @product.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>

  <div>
    <%= f.text_field :title, placeholder: 'Product Title', class: 'text-gray-200 rounded-2xl border-neutral-800 mb-4 w-full bg-neutral-600 placeholder-gray-200' %>
  </div>

  <div>
    <%= f.text_area :description, placeholder: 'Description', class: ' text-gray-200 rounded-2xl border-neutral-800 mb-4 w-full bg-neutral-600 placeholder-gray-200', rows: 5 %>
  </div>

  <% if @product.new_record? %>
    <div>
      <%= f.number_field :price, placeholder: 'Price', class: 'text-gray-200 rounded-2xl border-neutral-800 mb-4 w-full bg-neutral-600 placeholder-gray-200' %>
    </div>
  <% end %>

  <div>
    <%# :category_id es lo que envia a la petición, el select se rellena con Category.order('name ASC'), y el select va enviar el :id pero mostrará el :name %>
    <%= f.collection_select :category_id, Category.order('name ASC'), :id, :name, {}, { class: 'rounded-2xl border-neutral-800 mb-4 w-full bg-neutral-600 text-gray-200' } %>
  </div>

  <div class='rounded-2xl border-neutral-800 mb-4 w-full border-[1px] p-3 bg-neutral-600 text-gray-200'>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div>
    <%= f.submit @product.new_record? ? 'Add' : 'Update', class: "px-4 py-2 font-semibold text-sm bg-orange-500 hover:bg-orange-700 text-white rounded-2xl cursor-pointer shadow-sm" %>
  </div>
<% end %>
