<div id='<%= dom_id(product) %>'>
  <h1 class='title'><%= product.title %></h1>
  <div style='max-width: 50%;'>
    <p class='description'><%= product.description %></p>
  </div>
  <span class='price'><%= product.price %></span>
  <%= image_tag(product.photo, width: 200) if product.photo.attached? %>
</div>
