<%= turbo_frame_tag 'categories' do %>
  <h1>Products</h1>

  <%= form_with url: products_path, method: :get do |f| %>
    <%= f.number_field :min_price, placeholder: 'Min price', onChange: 'this.form.requestSubmit()', value: params[:min_price] %>
    <%= f.number_field :max_price, placeholder: 'Max price', onChange: 'this.form.requestSubmit()', value: params[:max_price] %>
  <% end %>

  <%= link_to 'All', products_path %>
  <%= render partial: 'category', collection: @categories %>
  <%= render partial: 'product', collection: @products %>
<% end %>
