<h1 class='title'><%= @product.title %></h1>
<div style='max-width: 50%;'>
  <p class='description'><%= @product.description %></p>
</div>
<span class='price'><%= @product.price %></span>
<%= image_tag(@product.photo, width: 200) if @product.photo.attached? %>

<%= render partial: 'favorite', locals: { product: @product } %> <%# aca hay que pasar la variable como local para poder hacer el turbo stream lo podemos ver en favorites controller %>

<%= link_to 'Edit product', edit_product_path(@product) if @product.owner? %>
<%# El link de delete lo hicimos convencionalmente como se hace un metodo destroy aunque no estamos buscadno nada en la base de datos,
tambien se podia llamar un metodo que hiciera lo mismo que hace el metodo destroy pero lo dejamos asi por convención
tampoco habria que pasarle parametros al otro metodo que hiciera lo mismo pero aca si se los pasamos por convención un metodo destroy necesita un parametro %>
<%= link_to 'Delete product', product_path(@product), data: { turbo_method: :delete, turbo_confirm: 'Delete product?' } if @product.owner? %>
<p>Seller:<%= link_to "#{@product.user.username}", user_path(@product.user.username) %></p>
