<div class='flex flex-col justify-center items-center sm:flex-row h-full w-full'>
  <%= render partial: 'product_details', locals: { product: @product } %>

  <% unless @product.owner? %>
    <div class='sm:w-2/5 w-4/5 p-5 my-3 sm:h-[486px] sm:ms-2 mb-3 bg-neutral-600 rounded flex flex-col items-center justify-center shadow relative'>
      <h4 class='text-orange-500 text-2xl font-bold mb-3'>Product owner</h4>
      <% if @user.photo.attached? %>
        <%= image_tag(@user.photo, class: 'w-[100px] h-[100px] rounded-full my-2 shadow object-cover') %>
      <% else %>
        <img src="assets/avatar" alt="" class='w-1/4 rounded-full my-2'>
      <% end %>
      <p class='text-xl text-gray-200 my-2'><%= @user.username %></p>
      <%= link_to 'More products from this user', user_path(@user.username), class: 'my-2 px-4 py-2 font-semibold text-sm bg-orange-500 hover:bg-orange-700 text-white rounded-2xl cursor-pointer shadow-sm' %><%# Aca pasamos es el username porque es lo quer ecibe asi lo dfinimos en routes %>

      <div class='mt-2 flex gap-2'>
        <i class="fa-brands fa-whatsapp text-green-500 text-xl"></i>
        <p class='text-gray-200'><%= @user.number %></p>
      </div>
      <div class='absolute top-3 right-3 rounded-full bg-neutral-700 w-10 h-10 flex items-center justify-center'>
        <% if @user.country %>
          <p class='font-bold text-lg text-gray-200'><%= @user.country %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag 'modal' %>
<%= turbo_stream_from @product %> <%# Crea un canal con una room que apunta a product_id_del_producto %>
