<!DOCTYPE html>
<html>
  <head>
    <title>YouSell | Buy & Sell second-handed products</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-neutral-800' style='max-width: 100%;'>
    <div class='relative min-h-screen'>
      <div style='padding-bottom: 3.5rem;'>
        <%= render 'shared/flash' %>
        <%= render 'shared/header' %>

        <div class='lg:container lg:mx-auto'>
          <%= yield %>
        </div>

        <%# este turbo frame es para incrustar el contenido de la petición new#products y desde el lin add product lo activamos (ir a shared/items)%>
        <%= turbo_frame_tag 'modal' do %>
        <% end %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
